body{ 
    margin:0; 
} 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-image: url("josh-hild-_TuI8tZHlk4-unsplash.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 

.js-count-particles{ 
    font-size: 1.1em; 
} 
#stats, .count-particles{ 
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 
#stats{ 
    border-radius: 3px 3px 0 0;
    overflow: hidden; 
} .count-particles{ 
    border-radius: 0 0 3px 3px; 
}
